.task{
  display: grid;
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  grid-template-areas: 'c t b';
  grid-template-columns: 20px 4fr 1fr ;
  align-items: center;

  button{
    &:active{
      opacity: 0.8
    }
  }
}
.text{
  max-width: 670px;
  padding: 5px;
  overflow: hidden;
  grid-area: t;
}
.date{
  grid-area: d;
}
.edit{
  grid-area: e;
  background-color: #2e7d32c4;
  border: none;
  &:hover{
    background-color: #2e7d32;
  }
}
.remove{
  color: #d32f2f;
  background-color: white;
  border: 1px solid #d32f2f85;
  position: relative;
  right: 0;

  &:hover{
    background-color: #d32f2f;
    color: black;
  }

}
.btns{
  grid-area: b;
  display: flex;
  justify-content: space-evenly;
}
.checkbox{
  margin: auto;
}