.task{
  display: grid;
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  grid-template-areas: 'c t d b';
  grid-template-columns: 20px 4fr 1fr 1fr ;
  align-items: center;

  button{
    background-size: cover;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 4px;

    transition: background-color linear 0.1s, color linear 0.1s;

    &:hover{
      background-color: #e2e2e2;
    }

    &:active{
      opacity: 0.7
    }
  }

}

.text{
  max-width: 670px;
  padding: 5px;
  overflow: hidden;
  grid-area: t;
}
.date{
  grid-area: d;
}
.edit{
  grid-area: e;
  background-image: url('../../../public/assets/edit.png');
  
  border: none;
}
.save{
  background-image: url('../../../public/assets/save.png');
}
.done{
  background-image: url('../../../public/assets/done.png');
}
.remove{
  background-color: white;
  background-image: url('../../../public/assets/remove.png');
}
.btns{
  grid-area: b;
  display: flex;
  justify-content: space-evenly;
}
.checkbox{
  margin: auto;
}