.container{
  width: 1200px;
  margin: auto;
}
button{
  // min-width: 70px;
  height: 30px;
  border-radius: 6px;
  border: none;
  cursor: pointer;

  transition: background-color linear 0.1s, color linear 0.1s;
}
textarea{
  padding: 5px;
  height: 20px;
  min-width: 1090px;
  max-width: 1090px;
  font-size: 14px;
  border-radius: 5px; 
  word-wrap: break-word;
}

.form{
  display: flex;
  align-items: center;
  margin: auto;
}
.add_btn{
  margin-left: 10px;
  border: none;
  min-width: 70px;
  background-color: white;
  color: #ffc107;
  &:hover{
    background-color: #ffc107;
    color: white;
  }
}
.list_head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 10px 10px;
}
.remove{
  color: #ff0707;
  background-color: white;
  &:hover{
    background-color: #ff0707;
    color: black;
  }
}